<div style="padding: 20px;">
  <h1 style="color: blue">{{title}}</h1>
  <h3>{{description}}</h3>
  <nav>
    <a routerLink="item" class="btn btn-primary active" role="button" routerLinkActive="active">Items</a>
    <a routerLink="add" class="btn btn-success active" role="button" routerLinkActive="active">Add</a>
    <a routerLink="findbyid" class="btn btn-info active" role="button" routerLinkActive="active">Search</a>
    <a routerLink="updateItem" class="btn btn-warning active" role="button" routerLinkActive="active">Update Item</a>

  </nav>
  <router-outlet></router-outlet>
</div>
